/* GLOBAL VARIABLES */
$color-highlight: #e54135;
$color-header-text: #000;
$color-body-text: #222;
$color-info-text: #555;
$color-border: #ccc;
$color-gray: #eee;

$type-icon-size: 40px;

$v-gutter: 20px;
$h-gutter: $v-gutter;
$post-left-gutter: $type-icon-size + 20px;

/* IMPORTS */
@import "normalize";
@import "compass/css3/font-face";
@import "compass/typography/lists/inline-block-list";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "mixins";
@import "typography";
@import "forms";


/* LAYOUT */
$page-content-width: 580px;

.page-content {
    width: $page-content-width;
    padding: $v-gutter/2 $h-gutter/2;
    margin: $v-gutter auto;
}

.inline {
    display: inline;
}


/* THEME */
body {
    color: $color-body-text;
    border-top: 5px solid $color-body-text;
}

a {
    color: $color-highlight;
    text-decoration: none;
    border-bottom: 1px dotted;
    &:hover {
        border-bottom-style: solid;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $color-header-text;
}

.info {
    color: $color-info-text;
    @include rem($smaller-font-size);
}

.description {
    @include rem($larger-font-size);
}

img {
    @include border-radius;
    padding: $v-gutter/3 $h-gutter/3;
    border: 1px solid $color-border;
}

.video-wrapper {
    iframe, video, embed {
        @include border-radius;
        padding: $v-gutter/3 $h-gutter/3;
        border: 1px solid $color-border;
    }
}

figcaption, .caption {
    margin: $v-gutter/2 0;
    display: block;
}


/* POSTS AND BLOG CONTENT STYLING */
@include icon(40);

.icon_40x40.type-icon {
    @include bg-img(transparent, "http://static.tumblr.com/8to5hpx/HT5mbeph3/post-type-icons.png", no-repeat, 0, 0);
}

.post-metadata {
    @include inline-block-list($h-gutter/4);
    float: right;
    line-height: $type-icon-size;
}

.posts {
    @include vertical-list;
    margin: $h-gutter*1.5 0 0;
}

.post-separator {
    font-family: $font-separator;
    text-align: center;
    display: block;
    margin: $v-gutter*1.5 0;
}

.inline-separator {
    font-family: $font-separator;
    display: inline-block;
    margin: 0 $h-gutter*1.5;
}

.post {
    .post-content {
        margin-left: $post-left-gutter;
    }
    &.link .type-icon {
        background-position: 0 0;
    }
    &.quote .type-icon {
        background-position: 0 -61px;
    }
    &.text .type-icon {
        background-position: 0 -123px;
    }
    &.photo .type-icon {
        background-position: 0 -186px;
    }
    &.video .type-icon {
        background-position: 0 -249px;
    }
    &.audio .type-icon {
        background-position: 0 -311px;
    }
    &.chat .type-icon {
        background-position: 0 -373px;
    }
}

.post-content, .notes {
    a {
        border-bottom: 0;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.quote-source {
    display: block;
    margin: $v-gutter/2 0;
    &:before {
        content: "\2014"; //Unicode for &mdash;
    }
}

.post.audio {
    .post-content {
        @include clearfix;
    }
    .album-art-img {
        max-width: 150px;
        float: left;
        margin-right: $h-gutter;
    }
    .caption {
        margin: 0;
        overflow: hidden;
    }
}

.post.chat {
    .conversation {
        @include vertical-list;
        @include zebra-stripes($color-gray);
        li {
            padding: $v-gutter/2 $h-gutter/2;
        }
    }
    .speaker {
        display: inline;
        &:after {
            content: ':';
            padding-right: $h-gutter/4;
        }
    }
}

.tag-list {
    @include inline-block-list($h-gutter/4);
    margin-left: $post-left-gutter;
    .tag {
        .tip {
            vertical-align: middle;
            display: inline-block;
            width: 0;
            height: 0;
            //Pixel fallback
            border-top: 14px solid transparent;
            border-bottom: 15px solid transparent;
            border-right: 8px solid $color-body-text;
            margin-right: -4px;

            border-top: 1.4rem solid transparent;
            border-bottom: 1.5rem solid transparent;
            border-right: 0.8rem solid $color-body-text;
            margin-right: -0.4rem;
        }
        a {
            font-family: $font-header;
            color: #fff;
            background-color: $color-body-text;
            padding: $h-gutter/4 $h-gutter/4 $h-gutter/4 0;
            border-width: 0;
            &:before {
                @include rem(36px);
                font-family: $font-separator;
                text-rendering: optimizeLegibility;
                line-height: 1;
                content: 'C';
                padding-right: $h-gutter/4;
            }
        }
        &:hover {
            .tip {
                border-right-color: $color-highlight;
            }
            a {
                background-color: $color-highlight;
            }
        }
    }
}

.notes-wrapper {
    margin: $v-gutter*1.5 0 $v-gutter*1.5 $post-left-gutter;
}
.notes {
    @include vertical-list;
    @include rem(14px);
    margin: 0;
    img.avatar {
        @include border-radius(2px);
        padding: 2px;
        vertical-align: -8px;
    }
    .note {
        padding: 2px 0;
        blockquote {
            border-left: 1px solid darken($color-border, 40%);
            padding: $v-gutter/4 $h-gutter/4;
            margin: $v-gutter/4 0px 0 $h-gutter*1.5;
            a { color: $color-body-text; }
        }
    }
    .action {
        padding-right: $h-gutter/4;
    }
}

.nav-list {
    @include inline-block-list;
    position: relative;
    width: 100%;
    border-top: 1px dashed $color-border;
    margin: $v-gutter 0;
    .page-details {
        @include rem($h2-font-size, "line-height");
        text-align: center;
        width: 100%;
    }
    .prev, .next {
        position: absolute;
        top: 0;
        &:hover {
            color: $color-highlight;
        }
    }
    .prev {
        text-align: left;
        left: 0;
        &:before{
            content: '2';
            font-family: $font-separator;
            font-size: $h4-font-size;
            padding-right: $h-gutter/2;
        }
    }
    .next {
        text-align: right;
        right: 0;
        &:after{
            content: '1';
            font-family: $font-separator;
            font-size: $h4-font-size;
            padding-left: $h-gutter/2
        }
    }
    a {
        border: none;
        color: $color-header-text;
        &:hover {
            color: $color-highlight;
        }
    }
}

.about-author {
    @include clearfix;
    .profile-img {
        margin-right: $h-gutter;
        float: left;
    }
    .bio {
        margin: 0;
        overflow: hidden;
    }
}

.credits {
    @include rem($smaller-font-size);
    margin: $v-gutter*2 0 0;
    .created-by {
        display: block;
        margin-bottom: $v-gutter/3;
    }
}

footer {
    text-align: center;
    background-color: $color-highlight;
    padding: $v-gutter/2 0;
    .misc-links {
        @include inline-block-list($h-gutter);
        a {
            @include rem($h4-font-size);
            font-family: $font-header;
            color: $color-body-text;
            border-color: $color-body-text;
        }
    }
}
